.home{
    &-banner{
        position: relative;
        padding: 16% 0px;
        min-height: 1050px;
        background: #6959DF;
        &:before{
            content: '';
            position: absolute;
            top: 30%;
            left: 0;
            width: 100%;
            height: calc(100% + 27%);
            background-image: url(../img/home-banner-footer.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .container{
            max-width: 1460px;
            overflow: hidden;
        }
        .el{
            &__meta {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                display: flex;
                align-items: center;
                max-width: 820px;
                .btn{
                    margin-top: 60px;
                }
            }
            &__title{
                font-weight: bold;
                font-size: 76px;
                line-height: 82px;
                text-transform: capitalize;
                color: #FFFFFF;
                margin-bottom: 30px;
            }
            &__excerpt{
                font-weight: normal;
                font-size: 21px;
                line-height: 25px;
                color: rgba(255, 255, 255, .85);
            }
            &__thumb{
                position: absolute;
                top: 9%;
                right: 4%;
                width: 46.7%;
            }
        }
        // &__cloubd{
        //     position:absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        // }
        .-cloubd-1{
            position: absolute;
            top: 16%;
            left: 3%;
            width: 196px;
            height: 196px;
            background-image: url(../img/cloud1.png);
            background-repeat: no-repeat;
            background-size: contain;
            z-index: 1;
            pointer-events: none;
            animation: float10x 6s infinite linear;
        }
        .-cloubd-2{
            position: absolute;
            top: 15%;
            right: 5%;
            width: 48%;
            height: 31%;
            background-image: url(../img/cloud2.png);
            background-repeat: no-repeat;
            background-size: contain;
            z-index: 1;
            pointer-events: none;
            animation: float10 6s infinite linear;
        }
    }
    &-number{
        position: relative;
        padding: 80px 0 25px;
        .el__box{
            max-width: 920px;
            margin: 0 auto;
        }
        .el__item{
            text-align: center;
            margin-bottom: 25px;
            &__title{
                font-weight: bold;
                font-size: 96px;
                line-height: 115px;
                text-align: center;
                color: #EC3984;
                margin-bottom: 24px;
            }
            &__sub{
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                text-transform: uppercase;
                color: #26104B;
                opacity: 0.8;
            }
        }
    }

    &-functions{
        position: relative;
        padding: 100px 0 64px;
        overflow: hidden;
        .el{
            &__item{
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.51), rgba(255, 255, 255, 0.51));
                box-shadow: 0px 29px 30px rgba(0, 0, 0, 0.07);
                backdrop-filter: blur(15px);
                border-radius: 15px;
                padding: 24px 24px;
                margin-bottom: 16px;
                transition: all .5s;
                &__thumb{
                    margin-bottom: 40px;
                    transition: all .5s;
                }
                &__title{
                    font-weight: bold;
                    font-size: 21px;
                    line-height: 25px;
                    text-align: center;
                    text-transform: uppercase;
                    color: #26104B;
                    margin-bottom: 14px;
                    transition: all .5s;
                }
                &__excerpt{
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;
                    color: #26104B;
                }
                &:hover{
                    box-shadow: 0px 29px 30px rgba(0, 0, 0, .15);
                    .el__item__thumb{
                        transform: translateY(-5px);
                    }
                    .el__item__title{
                        color: #cc266b;
                    }
                }
            }
        }

        .-icon-user{
            position: absolute;
            top: 0;
            left: 3%;
            width: 24%;
            height: 107%;
            background-image: url(../img/home-functions-ic.png);
            background-repeat: no-repeat;
            background-size: contain;
            z-index: -1;
            pointer-events: none;
            animation: float10 6s infinite linear;
        }
        .-icon-stone1{
            position: absolute;
            top: 75%;
            right: 14%;
            width: 150px;
            height: 150px;
            background-image: url(../img/ic-stone1.png);
            background-repeat: no-repeat;
            background-size: contain;
            z-index: -1;
            pointer-events: none;
            animation: spinner-rotate 6s infinite linear;
        }
        .-icon-stone2{
            position: absolute;
            top: 40%;
            right: 0;
            width: 10%;
            height: 24%;
            background-image: url(../img/ic-stone2.png);
            background-repeat: no-repeat;
            background-size: contain;
            z-index: -1;
            pointer-events: none;
            animation: float20 6s infinite linear;
        }
    }
    &-team{
        position: relative;
        padding: 100px 0 60px;
        &:before{
            content: '';
            position: absolute;
            top: 38%;
            right: 0;
            width: 26%;
            height: 59%;
            background-image: url(../img/home-team-ic.png);
            background-repeat: no-repeat;
            background-size: contain;
            z-index: -1;
            pointer-events: none;
        }
        .container{
            max-width: 1374px;
        }
        .col__left{
            width: calc(100% - 115px);
        }
        .col__right{
            width: 115px;
        }
        .el{
            &__box{
                padding: 80px 170px;
                background: linear-gradient(30.94deg, rgba(255, 180, 225, 0.3) 0.34%, rgba(192, 164, 255, 0.3) 100%);
                backdrop-filter: blur(20px);
                border-radius: 130px;
            }

        }
        .slider-for{

        }
        .slider__item{
            padding: 50px 0 50px 50px;
            &__thumb{
                position: relative;
                max-width: 220px;
                &:before{
                    content: "";
                    position: absolute;
                    top: -50px;
                    left: -50px;
                    width: calc(100% + 100px);
                    height: calc(100% + 100px);
                    background-image: url(../img/user-border.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    z-index: -1;
                    pointer-events: none;
                    animation:spinner-rotate 30s infinite linear;
                }
            }
            .dnfix__thumb{
                padding-top: 100%;
                img{
                    border-radius: 50%;
                }
            }
            &__title{
                font-weight: bold;
                font-size: 21px;
                line-height: 25px;
                color: #26104B;
                margin-bottom: 8px;
            }
            &__sub{
                font-weight: normal;
                font-size: 14px;
                line-height: 19px;
                color: #26104B;
                margin-bottom: 24px;
            }
            &__excerpt{
                font-size: 14px;
                line-height: 22px;
                color: #26104B;
            }
        }
        .slider-nav{
            padding: 40px 10px;
        }
        .slider__item2{
            width: 60px;
            border-radius: 50%;
            margin: 8px auto 8px;
            cursor: pointer;
            border: 2px solid #FFFFFF;
            transition: all .5s;
            .dnfix__thumb{
                width: 56px;
                padding-top: 56px;
            }
            &:hover{
               border-color: #F528A3;
            }
        }
        .slick-current{
            .slider__item2{
                border-color: #F528A3;
                box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.35);
            }
        }

    }
    &-partners{
        position: relative;
        padding: 100px 0 180px;
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 25.6%;
            height: 75%;
            background-image: url(../img/home-partners-ic.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom;
            pointer-events: none;
        }
        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 171%;
            background-image: url(../img/home-team-bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
        }

        .el__boxs{
            position: relative;
        }
        .el__header{
            position: absolute;
            left: 45px;
            bottom: -110px;
            &__title{
                font-weight: bold;
                font-size: 42px;
                line-height: 50px;
                text-transform: uppercase;
                color: #473B59;
            }
            &__sub{
                font-weight: 200;
                font-size: 180px;
                line-height: 211px;
                text-transform: uppercase;
                color: #EC3984;
            }
        }
        .col__title{
            display: flex;
            align-items: center;
            justify-content: end;
        }
        .el{
            &__item{
                margin-bottom: calc( var(--bs-gutter-x) / 2);
                transition: all .5s;
                &:hover{
                    transform: translateY(-5px);
                }
                .dnfix__thumb{
                    padding-top: 70px;
                }
                img{
                    border-radius: 4px;
                }
                &__title {
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 29px;
                    text-transform: uppercase;
                    color: #473B59;
                }
            }
        }
    }
    &-portfolio{
        position: relative;
        padding: 100px 0 0px;
        .row-7 {
            --bs-gutter-x: 20px;
        }
        .el{
            &__item{
                margin-bottom: calc( var(--bs-gutter-x) / 2);
                transition: all .5s;
                &:hover{
                    transform: translateY(-5px);
                }
                .dnfix__thumb{
                    padding-top: 39%;
                }
            }
        }
        .-icon-stone1{
            position: absolute;
            top: 8%;
            left: 3%;
            width: 150px;
            height: 150px;
            background-image: url(../img/ic-stone3.png);
            background-repeat: no-repeat;
            background-size: contain;
            z-index: -1;
            pointer-events: none;
            animation: spinner-rotate 6s infinite linear;
        }
        .-icon-stone2{
            position: absolute;
            top: 40%;
            right: 2%;
            width: 12%;
            height: 29%;
            background-image: url(../img/ic-stone4.png);
            background-repeat: no-repeat;
            background-size: contain;
            z-index: -1;
            pointer-events: none;
            animation: float20 6s infinite linear;
        }
    }
    &-news{
        padding: 100px 0 115px;

    }

    @media (max-width: 1399px){

        &-banner{
            min-height: 750px;
            .container{
                max-width: 1300px;
            }
            .el__title {
                font-size: 60px;
                line-height: 74px;
            }

        }
        &-number{
            .el__item__title {
                font-size: 86px;
                line-height: 100px;
            }
        }
        &-team{
            .container{
                max-width: 1300px;
            }
            .el__box {
                padding: 80px 80px 40px;
            }
        }
        &-partners{
            ::before{
                display: none;
            }
            &:after {
                width: 100%;
                height: 165%;
            }
        }


    }
    @media (max-width: 1199px){
        &-banner {
            min-height: 670px;
            .el__title {
                font-size: 50px;
            }
        }
        &-number{
            .el__item__title {
                font-size: 70px;
                line-height: 70px;
            }
        }
        &-functions{
            padding: 80px 0 30px;
            .el__item__thumb {
                margin-bottom: 15px;
            }
        }
        &-team {
            padding: 80px 0 40px;
            .slider__item__thumb {
                max-width: 180px;
            }
            .el__box {
                padding: 50px 60px 30px;
            }
            .col__right {
                margin-top: -60px;
            }
        }

        &-partners {
            padding: 80px 0 160px;
            .el__header__sub {
                font-size: 140px;
                line-height: 160px;
            }
        }
        &-portfolio {
            padding: 80px 0 30px;
        }
        &-news {
            padding: 50px 0 60px;
        }
    }
    @media (max-width: 1024px){
        &-banner {
            min-height: 570px;
        }
    }

    @media (max-width: 991px){

        &-team{
            padding: 80px 0 20px;

            .col__left,.col__right {
                width: 100%;
            }
            .col__right{
                margin-top: 0;
            }
            .slider-for{
                margin-bottom: 0;
            }
            .slider-nav {
                max-width: 350px;
                padding: 10px 30px;
                margin: auto;
            }
            .slick-arrow{
                margin-top: -5px;
            }
            .slick-prev {
                left: 0px;
                transform: rotate(270deg);
            }
            .slick-next{
                right: 0px;
                transform: rotate(-90deg);
            }
        }

        &-portfolio{

            .row-7{
                --bs-gutter-x: 8px;
                > * {
                    width: calc(100% / 6);
                }
            }
        }
        &-partners{
            padding: 50px 0;
            &:before{
                display: block;
                position: relative;
                display: block;
                width: 190px;
                height: 230px;
                margin: auto;
            }
            .el__header {
                position: relative;
                left: 0;
                bottom: 0;
                text-align: center;
                margin-bottom: 30px;
            }

            .row-7{
                margin-bottom: 8px;
                justify-content: center;
                > * {
                    width: calc(100% / 6);
                }
            }
            .col__title {
                width: 100%!important;
                justify-content: center;
                margin-bottom: 16px;
            }

            .offsetz-1, .offsetz-2, .offsetz-3{
                margin-left: 0;
            }
        }

    }
    @media (max-width: 767px){
        &-banner{
            .el__title {
                font-size: 46px;
                line-height: 60px;
            }
            .el__excerpt {
                font-size: 18px;
            }
            .el__meta .btn {
                margin-top: 40px;
            }
        }
        &-team{
            .el__box {
                padding: 50px 30px 30px;
            }
            .slider__item {
                padding: 50px 0 20px;
            }

            .slider__item__thumb {
                margin: 0 auto 80px;
            }
            .slider__item__meta {
                text-align: center;
            }
        }
        &-number{
            .el__item__title {
                font-size: 64px;
                line-height: 70px;
            }
        }
        &-partners{
            .el__header__title {
                font-size: 36px;
                line-height: 46px;
            }
            .row-7 > * {
                width: calc(100% / 5);
            }
        }
        &-portfolio{
            .row-7 > * {
                width: calc(100% / 5);
            }
        }
    }
    @media (max-width: 575px){
        &-number {
            padding: 40px 0 0;
        }
        &-banner{
            min-height: 740px;
            .el__meta {
                padding-top: 120px;
                align-items: start;
            }
            .el__thumb {
                width: 88%;
                top: auto;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
            .el__title {
                font-size: 36px;
                line-height: 46px;
            }
        }

        &-partners {
            padding: 0;
            &:after{
                display: none;
            }
            .row-7 {
                > * {
                    width: calc(100% / 2);
                }
            }

            .el__header__title {
                font-size: 28px;
                line-height: 34px;
            }
            .el__item__title {
                font-size: 18px;
                line-height: 22px;
            }
        }
        &-portfolio{
            padding: 80px 0 0;
            .row-7 > * {
                width: calc(100% / 2);
            }
        }
        &-team{
            padding: 50px 0 0px;
            .el__box {
                padding: 50px 15px 30px;
                border-radius: 0;
                margin-right: var(--bs-gutter-x, -0.75rem);
                margin-left: var(--bs-gutter-x, -0.75rem);
            }
        }

        &-functions{
            padding: 80px 0 0;

            .el__item {
                max-width: 270px;
                margin: 0 auto 16px;
            }

            .-icon-user {
                position: absolute;
                top: 8%;
                left: -10%;
                width: 45%;
                height: 16%;
            }
        }
        &-news{
            padding: 80px 0 30px;
        }

    }
}
