@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@200;400;700&display=swap");
@import url(../fonts/icomoon/style.css);
@import url(../libs/bootstrap/css/bootstrap.css);
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
.fadeInLeft {
  -webkit-animation: fadeInLeft 1.5s ease-in-out;
  -moz-animation: fadeInLeft 1.5s ease-in-out;
  animation: fadeInLeft 1.5s ease-in-out; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
.fadeInRight {
  -webkit-animation: fadeInRight 1.5s ease-in-out;
  -moz-animation: fadeInRight 1.5s ease-in-out;
  animation: fadeInRight 1.5s ease-in-out; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
.fadeInUp {
  -webkit-animation: fadeInUp 1.5s ease-in-out;
  -moz-animation: fadeInUp 1.5s ease-in-out;
  animation: fadeInUp 1.5s ease-in-out; }

.-color-primary {
  color: #5FC4E6; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  position: relative;
  font-family: 'Exo 2', sans-serif;
  color: #26104B;
  background: #F2F0F9;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  --header-height:80px; }

a, a:hover {
  color: #4D4D4D;
  text-decoration: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto; }

a {
  outline: none; }

strong {
  font-weight: 700; }

@media (min-width: 1400px) {
  .container {
    max-width: 1224px; } }
.wrapper {
  overflow: hidden; }

/* Slider */
.slickfix .slick-list {
  margin: 0 -50px; }

.slickfix .slick-slide {
  margin: 0 50px; }

/**/
.dnfix__thumb {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  display: block;
  padding-top: 68.075%; }

.dnfix__thumb img {
  margin: 0px auto;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover; }

.dnfix__thumb.-contain img {
  object-fit: contain; }

.dnfix__thumb {
  transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1); }
  .dnfix__thumb img {
    transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1); }

/* Text truncate */
.text__truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.text__truncate.-n2 {
  -webkit-line-clamp: 2; }

.text__truncate.-n3 {
  -webkit-line-clamp: 3; }

.text__truncate.-n4 {
  -webkit-line-clamp: 4; }

/**/
br.tb {
  display: none; }
@media (max-width: 991px) {
  br.pc {
    display: none; } }
@media (min-width: 768px) and (max-width: 1199px) {
  br.tb {
    display: block; } }
@media (min-width: 992px) {
  br.tbl {
    display: none; } }
@media (min-width: 768px) {
  br.mbt {
    display: none; } }
@media (min-width: 576px) {
  br.mb {
    display: none; } }

/**/
.btn {
  position: relative;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  border: 0;
  border-radius: 3px;
  padding: 16px 24px;
  transition: all .5s; }
  .btn.-small {
    padding: 8px 16px;
    font-size: 13px;
    line-height: 16px;
    padding: 8px 16px; }
  .btn:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(101.72deg, #a11b25 6.16%, #ff928c 95.73%);
    border-radius: inherit;
    opacity: 0;
    transition: all .5s; }
  .btn span {
    position: relative;
    z-index: 1; }
  .btn:hover {
    color: #fff; }
    .btn:hover:after {
      height: 100%;
      opacity: 1; }
  .btn--primary {
    background: linear-gradient(180deg, #EC3984 0%, #C01E62 100%); }
  .btn--secondary {
    background-color: #BEE274; }

/* Fix admin*/
.admin-bar .header.-fix {
  top: 32px; }

@media (max-width: 767px) {
  .admin-bar .header.-fix {
    top: 0; } }
@media (max-width: 991px) {
  .container {
    max-width: 100% !important; } }
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  padding: 24px 0;
  z-index: 10; }
  .header.is-active {
    background: rgba(95, 79, 215, 0.9);
    backdrop-filter: blur(2px); }
  .header .container {
    max-width: 1800px; }
  .header .logo {
    width: 240px;
    margin-bottom: 0;
    transition: opacity .5s; }
    .header .logo img {
      width: auto;
      max-height: 50px; }
  .header .main__nav {
    flex-grow: 1;
    text-align: center; }
  .header__right {
    width: 240px;
    text-align: right; }
  @media (max-width: 1199px) {
    .header {
      padding: 20px 0; } }
  @media (max-width: 1099px) {
    .header .logo {
      width: auto; }
    .header .main__nav {
      text-align: right; }
    .header__right {
      width: auto; } }
  @media (max-width: 991px) {
    .header {
      padding: 16px 0; }
      .header__right {
        display: none; }
      .header .logo {
        flex-grow: 1; }
        .header .logo img {
          max-height: 25px; } }

@keyframes stuckMoveDown {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }
.footer {
  padding: 80px 0 15px;
  color: rgba(238, 238, 238, 0.5);
  background: linear-gradient(180deg, #26134F 0%, #130630 100%); }
  .footer a {
    color: rgba(238, 238, 238, 0.5);
    transition: all .5s; }
    .footer a:hover {
      color: #fff; }
  .footer__item {
    margin-bottom: 30px; }
    .footer__item__title {
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      color: #EEEEEE;
      margin-bottom: 20px; }
  .footer__logo {
    margin-top: -30px;
    margin-bottom: 15px; }
  .footer__address li {
    margin-bottom: 10px; }
  .footer__address [class^="icon-"] {
    display: inline-block;
    width: 25px;
    color: #E61B70; }
  .footer__nav {
    display: flex;
    flex-wrap: wrap; }
    .footer__nav > li {
      flex: 0 0 auto;
      width: 50%;
      margin-bottom: 10px; }
  .footer__socical {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px; }
    .footer__socical li {
      position: relative;
      width: 25px;
      transition: all .5s; }
      .footer__socical li:not(:last-child) {
        margin-right: 16px; }
      .footer__socical li:hover {
        transform: translateY(-5px); }
  .footer .-newsletter form {
    position: relative;
    margin-bottom: 10px; }
  .footer .-newsletter .text-field {
    font-size: 14px;
    padding: 18px 25px;
    border: 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 37px; }
  .footer .-newsletter .submit-field {
    position: absolute;
    top: 0;
    right: 0;
    background: #E61B70;
    border-radius: 37px;
    color: #fff;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    padding: 19px 30px;
    transition: all .5s; }
    .footer .-newsletter .submit-field:hover {
      background-color: #6e5fda; }
  .footer .-newsletter i {
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #EEEEEE;
    opacity: 0.5; }
  @media (max-width: 991px) {
    .footer .-newsletter {
      text-align: center; }
      .footer .-newsletter form {
        position: relative;
        margin-bottom: 10px;
        max-width: 500px;
        margin: 0 auto 10px; } }
  @media (max-width: 575px) {
    .footer .-newsletter {
      text-align: left; } }

.copyright {
  display: flex;
  flex-wrap: wrap;
  padding-top: 12px;
  font-weight: 200;
  font-size: 14px;
  line-height: 22px;
  border-top: 1px solid rgba(255, 255, 255, 0.1); }
  @media (max-width: 575px) {
    .copyright {
      text-align: center;
      justify-content: center; } }

/*
======================================
[ Main menu ]
======================================
*/
.main__nav {
  position: relative;
  z-index: 9;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  transition: opacity .5s; }
  .main__nav:after {
    content: "";
    display: table;
    clear: both; }
  .main__nav .sc__wrap {
    position: relative;
    z-index: 9999;
    width: 100%; }
  .main__nav ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .main__nav a {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: color 0.3s, background 0.3s; }
  .main__nav .el__menu {
    padding: 0px 0;
    background: none; }
    .main__nav .el__menu:after {
      content: "";
      display: table;
      clear: both; }
    .main__nav .el__menu > li {
      position: relative;
      display: inline-block;
      margin: 0 15px; }
      .main__nav .el__menu > li.menu-item-has-children > a:after {
        content: "\e907";
        font-family: 'icomoon';
        font-size: 5px;
        margin-left: 5px;
        position: relative;
        top: -3px;
        font-weight: 400; }
      .main__nav .el__menu > li > a {
        position: relative;
        padding: 8px 5px;
        display: block; }
        .main__nav .el__menu > li > a:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          display: block;
          width: 0;
          height: 2px;
          transition: all .3s;
          margin: auto;
          background: #fff;
          border-radius: 5px; }
    .main__nav .el__menu > li:hover a, .main__nav .el__menu > li.active a, .main__nav .el__menu .current_page_parent a, .main__nav .el__menu .current-menu-parent a {
      color: #fff; }
    .main__nav .el__menu > li:hover > a:before, .main__nav .el__menu > li.active > a:before, .main__nav .el__menu .current_page_parent > a:before, .main__nav .el__menu .current-menu-parent > a:before, .main__nav .el__menu .current-menu-item > a:before, .main__nav .el__menu .current_page_item > a:before {
      width: 100%; }
    .main__nav .el__menu .menu-item-has-children:hover a:before {
      display: none; }
    .main__nav .el__menu li:hover > .sub-menu {
      display: block;
      opacity: 1;
      visibility: visible; }
    .main__nav .el__menu .sub-menu {
      width: 205px;
      position: absolute;
      background: #171C20;
      opacity: 0;
      visibility: hidden;
      transition: all 300ms linear;
      left: 0px;
      top: 100%;
      z-index: 99;
      text-align: left;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      overflow: hidden; }
      .main__nav .el__menu .sub-menu li {
        position: relative;
        line-height: 20px;
        padding: 13px 15px; }
        .main__nav .el__menu .sub-menu li:not(:last-child) {
          border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
        .main__nav .el__menu .sub-menu li:hover {
          background-color: #252A2B; }
          .main__nav .el__menu .sub-menu li:hover > a {
            color: #fff; }
        .main__nav .el__menu .sub-menu li a {
          color: #ffffff; }
      .main__nav .el__menu .sub-menu .sub-menu {
        top: 0;
        left: 100%; }

/*Menu custom*/
@media (max-width: 575px) {
  .modal-open {
    overflow: hidden; } }
.nav__mobile {
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  right: -250px;
  width: 220px;
  opacity: 0;
  background: #E51B70;
  transition: all .25s;
  z-index: 9999;
  font-weight: 600;
  font-size: 14px;
  pointer-events: none;
  overflow: auto; }
  .nav__mobile--close {
    position: relative;
    top: 2px;
    cursor: pointer;
    width: 25px;
    height: 35px;
    text-align: right; }
  .nav__mobile__header {
    display: flex;
    align-items: center;
    padding: 30px 15px 10px;
    color: #fff; }
    .nav__mobile__header img {
      max-width: 125px; }
  .nav__mobile__content {
    position: relative;
    overflow-y: auto;
    padding: 10px 0; }
  .nav__mobile.active {
    right: 0;
    opacity: 1;
    pointer-events: auto; }
  .nav__mobile .nav__mobile--ul {
    list-style: none; }
    .nav__mobile .nav__mobile--ul li {
      position: relative;
      margin-bottom: 24px; }
      .nav__mobile .nav__mobile--ul li a {
        position: relative;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        padding: 8px 16px;
        display: block;
        text-transform: uppercase;
        border-bottom: 1px solid transparent;
        transition: all .5s; }
        .nav__mobile .nav__mobile--ul li a:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          background-color: #fff;
          transition: all .5s; }
        .nav__mobile .nav__mobile--ul li a:hover {
          color: #5FC4E6; }
      .nav__mobile .nav__mobile--ul li.active > a, .nav__mobile .nav__mobile--ul li.current-menu-item > a, .nav__mobile .nav__mobile--ul li.current_page_item > a, .nav__mobile .nav__mobile--ul li:hover > a {
        color: #fff; }
        .nav__mobile .nav__mobile--ul li.active > a:before, .nav__mobile .nav__mobile--ul li.current-menu-item > a:before, .nav__mobile .nav__mobile--ul li.current_page_item > a:before, .nav__mobile .nav__mobile--ul li:hover > a:before {
          width: 100%; }

/**/
.menu-mb__btn {
  position: relative;
  top: 3px;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px; }

.sc__header {
  margin-bottom: 50px; }
  .sc__header__title {
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #EC3984; }
  .sc__header__excerpt {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: rgba(38, 16, 75, 0.8);
    margin-bottom: 8px; }
  @media (max-width: 767px) {
    .sc__header {
      margin-bottom: 30px; }
      .sc__header__title {
        font-size: 36px;
        line-height: 44px; } }
  @media (max-width: 575px) {
    .sc__header__title {
      font-size: 28px;
      line-height: 34px; } }

/*Effect*/
.ef--zoomin .dnfix__thumb img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out; }

.ef--zoomin:hover .dnfix__thumb img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

@keyframes float10 {
  0% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-10px); }
  100% {
    transform: translatey(0px); } }
@keyframes float20 {
  0% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-20px); }
  100% {
    transform: translatey(0px); } }
@keyframes spinner-rotate {
  to {
    transform: rotate(360deg); } }
/**/
.offsetz-1 {
  margin-left: 14.285714%; }

.offsetz-2 {
  margin-left: 28.571428%; }

.offsetz-3 {
  margin-left: 42.857142%; }

.offsetz-4 {
  margin-left: 62.5%; }

.offsetz-5 {
  margin-left: 75%; }

.row-7 {
  --bs-gutter-x: 8px; }
  .row-7 > * {
    width: calc(100% / 7); }

/*Page 404*/
.error404 .error-404 {
  padding: 100px 0; }
  .error404 .error-404 a {
    color: #fff; }

/**/
.new__item {
  margin-bottom: 15px;
  transition: all .5s; }
  .new__item:hover .el__item__title {
    color: #dd3078; }
  .new__item:hover .el__item__readmore {
    color: #26104B; }
  .new__item .dnfix__thumb {
    padding-top: 57%; }
  .new__item__thumb {
    margin-bottom: 16px; }
    .new__item__thumb img {
      border-radius: 4px; }
  .new__item__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #26104B;
    margin-bottom: 6px;
    transition: all .5s; }
  .new__item__date {
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #868A96;
    margin-bottom: 16px; }
    .new__item__date span {
      font-style: normal;
      color: #868A96; }
  .new__item__excerpt {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #26104B;
    margin-bottom: 16px; }
  .new__item__readmore {
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    color: #E61B70;
    transition: all .5s; }
  @media (max-width: 575px) {
    .new__item.-small > a {
      display: flex;
      flex-wrap: wrap; }
    .new__item.-small .new__item__thumb {
      flex: 0 0 auto;
      width: 100px; }
    .new__item.-small .new__item__meta {
      padding-left: 8px;
      flex: 0 0 auto;
      width: calc(100% - 100px); }
    .new__item.-small .new__item__title {
      font-size: 14px;
      line-height: 17px; }
    .new__item.-small .new__item__excerpt {
      display: none; }
    .new__item.-small .new__item .dnfix__thumb {
      padding-top: 71%; } }

.home-banner {
  position: relative;
  padding: 16% 0px;
  min-height: 1050px;
  background: #6959DF; }
  .home-banner:before {
    content: '';
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    height: calc(100% + 27%);
    background-image: url(../img/home-banner-footer.png);
    background-repeat: no-repeat;
    background-size: cover; }
  .home-banner .container {
    max-width: 1460px;
    overflow: hidden; }
  .home-banner .el__meta {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    max-width: 820px; }
    .home-banner .el__meta .btn {
      margin-top: 60px; }
  .home-banner .el__title {
    font-weight: bold;
    font-size: 76px;
    line-height: 82px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 30px; }
  .home-banner .el__excerpt {
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.85); }
  .home-banner .el__thumb {
    position: absolute;
    top: 9%;
    right: 4%;
    width: 46.7%; }
.home-number {
  position: relative;
  padding: 80px 0 25px; }
  .home-number .el__box {
    max-width: 920px;
    margin: 0 auto; }
  .home-number .el__item {
    text-align: center;
    margin-bottom: 25px; }
    .home-number .el__item__title {
      font-weight: bold;
      font-size: 96px;
      line-height: 115px;
      text-align: center;
      color: #EC3984;
      margin-bottom: 24px; }
    .home-number .el__item__sub {
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      text-transform: uppercase;
      color: #26104B;
      opacity: 0.8; }
.home-functions {
  position: relative;
  padding: 100px 0 64px;
  overflow: hidden; }
  .home-functions .el__item {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.51), rgba(255, 255, 255, 0.51));
    box-shadow: 0px 29px 30px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    padding: 24px 24px;
    margin-bottom: 16px;
    transition: all .5s; }
    .home-functions .el__item__thumb {
      margin-bottom: 40px;
      transition: all .5s; }
    .home-functions .el__item__title {
      font-weight: bold;
      font-size: 21px;
      line-height: 25px;
      text-align: center;
      text-transform: uppercase;
      color: #26104B;
      margin-bottom: 14px;
      transition: all .5s; }
    .home-functions .el__item__excerpt {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #26104B; }
    .home-functions .el__item:hover {
      box-shadow: 0px 29px 30px rgba(0, 0, 0, 0.15); }
      .home-functions .el__item:hover .el__item__thumb {
        transform: translateY(-5px); }
      .home-functions .el__item:hover .el__item__title {
        color: #cc266b; }
  .home-functions .-icon-user {
    position: absolute;
    top: 0;
    left: 3%;
    width: 24%;
    height: 107%;
    background-image: url(../img/home-functions-ic.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    pointer-events: none;
    animation: float10 6s infinite linear; }
  .home-functions .-icon-stone1 {
    position: absolute;
    top: 75%;
    right: 14%;
    width: 150px;
    height: 150px;
    background-image: url(../img/ic-stone1.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    pointer-events: none;
    animation: spinner-rotate 6s infinite linear; }
  .home-functions .-icon-stone2 {
    position: absolute;
    top: 40%;
    right: 0;
    width: 10%;
    height: 24%;
    background-image: url(../img/ic-stone2.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    pointer-events: none;
    animation: float20 6s infinite linear; }
.home-team {
  position: relative;
  padding: 100px 0 60px; }
  .home-team:before {
    content: '';
    position: absolute;
    top: 38%;
    right: 0;
    width: 26%;
    height: 59%;
    background-image: url(../img/home-team-ic.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    pointer-events: none; }
  .home-team .container {
    max-width: 1374px; }
  .home-team .col__left {
    width: calc(100% - 115px); }
  .home-team .col__right {
    width: 115px; }
  .home-team .el__box {
    padding: 80px 170px;
    background: linear-gradient(30.94deg, rgba(255, 180, 225, 0.3) 0.34%, rgba(192, 164, 255, 0.3) 100%);
    backdrop-filter: blur(20px);
    border-radius: 130px; }
  .home-team .slider__item {
    padding: 50px 0 50px 50px; }
    .home-team .slider__item__thumb {
      position: relative;
      max-width: 220px; }
      .home-team .slider__item__thumb:before {
        content: "";
        position: absolute;
        top: -50px;
        left: -50px;
        width: calc(100% + 100px);
        height: calc(100% + 100px);
        background-image: url(../img/user-border.png);
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;
        pointer-events: none;
        animation: spinner-rotate 30s infinite linear; }
    .home-team .slider__item .dnfix__thumb {
      padding-top: 100%; }
      .home-team .slider__item .dnfix__thumb img {
        border-radius: 50%; }
    .home-team .slider__item__title {
      font-weight: bold;
      font-size: 21px;
      line-height: 25px;
      color: #26104B;
      margin-bottom: 8px; }
    .home-team .slider__item__sub {
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #26104B;
      margin-bottom: 24px; }
    .home-team .slider__item__excerpt {
      font-size: 14px;
      line-height: 22px;
      color: #26104B; }
  .home-team .slider-nav {
    padding: 40px 10px; }
  .home-team .slider__item2 {
    width: 60px;
    border-radius: 50%;
    margin: 8px auto 8px;
    cursor: pointer;
    border: 2px solid #FFFFFF;
    transition: all .5s; }
    .home-team .slider__item2 .dnfix__thumb {
      width: 56px;
      padding-top: 56px; }
    .home-team .slider__item2:hover {
      border-color: #F528A3; }
  .home-team .slick-current .slider__item2 {
    border-color: #F528A3;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.35); }
.home-partners {
  position: relative;
  padding: 100px 0 180px; }
  .home-partners::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25.6%;
    height: 75%;
    background-image: url(../img/home-partners-ic.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    pointer-events: none; }
  .home-partners:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 171%;
    background-image: url(../img/home-team-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; }
  .home-partners .el__boxs {
    position: relative; }
  .home-partners .el__header {
    position: absolute;
    left: 45px;
    bottom: -110px; }
    .home-partners .el__header__title {
      font-weight: bold;
      font-size: 42px;
      line-height: 50px;
      text-transform: uppercase;
      color: #473B59; }
    .home-partners .el__header__sub {
      font-weight: 200;
      font-size: 180px;
      line-height: 211px;
      text-transform: uppercase;
      color: #EC3984; }
  .home-partners .col__title {
    display: flex;
    align-items: center;
    justify-content: end; }
  .home-partners .el__item {
    margin-bottom: calc( var(--bs-gutter-x) / 2);
    transition: all .5s; }
    .home-partners .el__item:hover {
      transform: translateY(-5px); }
    .home-partners .el__item .dnfix__thumb {
      padding-top: 70px; }
    .home-partners .el__item img {
      border-radius: 4px; }
    .home-partners .el__item__title {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      text-transform: uppercase;
      color: #473B59; }
.home-portfolio {
  position: relative;
  padding: 100px 0 0px; }
  .home-portfolio .row-7 {
    --bs-gutter-x: 20px; }
  .home-portfolio .el__item {
    margin-bottom: calc( var(--bs-gutter-x) / 2);
    transition: all .5s; }
    .home-portfolio .el__item:hover {
      transform: translateY(-5px); }
    .home-portfolio .el__item .dnfix__thumb {
      padding-top: 39%; }
  .home-portfolio .-icon-stone1 {
    position: absolute;
    top: 8%;
    left: 3%;
    width: 150px;
    height: 150px;
    background-image: url(../img/ic-stone3.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    pointer-events: none;
    animation: spinner-rotate 6s infinite linear; }
  .home-portfolio .-icon-stone2 {
    position: absolute;
    top: 40%;
    right: 2%;
    width: 12%;
    height: 29%;
    background-image: url(../img/ic-stone4.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    pointer-events: none;
    animation: float20 6s infinite linear; }
.home-news {
  padding: 100px 0 115px; }
@media (max-width: 1399px) {
  .home-banner {
    min-height: 750px; }
    .home-banner .container {
      max-width: 1300px; }
    .home-banner .el__title {
      font-size: 60px;
      line-height: 74px; }
  .home-number .el__item__title {
    font-size: 86px;
    line-height: 100px; }
  .home-team .container {
    max-width: 1300px; }
  .home-team .el__box {
    padding: 80px 80px 40px; }
  .home-partners::before {
    display: none; } }
@media (max-width: 1199px) {
  .home-banner {
    min-height: 670px; }
    .home-banner .el__title {
      font-size: 50px; }
  .home-number .el__item__title {
    font-size: 70px;
    line-height: 70px; }
  .home-functions {
    padding: 80px 0 30px; }
    .home-functions .el__item__thumb {
      margin-bottom: 15px; }
  .home-team {
    padding: 80px 0 40px; }
    .home-team .slider__item__thumb {
      max-width: 180px; }
    .home-team .el__box {
      padding: 50px 60px 30px; }
    .home-team .col__right {
      margin-top: -60px; }
  .home-partners {
    padding: 80px 0 160px; }
    .home-partners .el__header__sub {
      font-size: 140px;
      line-height: 160px; }
  .home-portfolio {
    padding: 80px 0 30px; }
  .home-news {
    padding: 50px 0 60px; } }
@media (max-width: 1024px) {
  .home-banner {
    min-height: 570px; } }
@media (max-width: 991px) {
  .home-team {
    padding: 80px 0 20px; }
    .home-team .col__left, .home-team .col__right {
      width: 100%; }
    .home-team .col__right {
      margin-top: 0; }
    .home-team .slider-for {
      margin-bottom: 0; }
    .home-team .slider-nav {
      max-width: 350px;
      padding: 10px 30px;
      margin: auto; }
    .home-team .slick-arrow {
      margin-top: -5px; }
    .home-team .slick-prev {
      left: 0px;
      transform: rotate(270deg); }
    .home-team .slick-next {
      right: 0px;
      transform: rotate(-90deg); }
  .home-portfolio .row-7 {
    --bs-gutter-x: 8px; }
    .home-portfolio .row-7 > * {
      width: calc(100% / 6); }
  .home-partners {
    padding: 50px 0; }
    .home-partners:before {
      display: block;
      position: relative;
      display: block;
      width: 190px;
      height: 230px;
      margin: auto; }
    .home-partners .el__header {
      position: relative;
      left: 0;
      bottom: 0;
      text-align: center;
      margin-bottom: 30px; }
    .home-partners .row-7 {
      margin-bottom: 8px;
      justify-content: center; }
      .home-partners .row-7 > * {
        width: calc(100% / 6); }
    .home-partners .col__title {
      width: 100% !important;
      justify-content: center;
      margin-bottom: 16px; }
    .home-partners .offsetz-1, .home-partners .offsetz-2, .home-partners .offsetz-3 {
      margin-left: 0; } }
@media (max-width: 767px) {
  .home-banner .el__title {
    font-size: 46px;
    line-height: 60px; }
  .home-banner .el__excerpt {
    font-size: 18px; }
  .home-banner .el__meta .btn {
    margin-top: 40px; }
  .home-team .el__box {
    padding: 50px 30px 30px; }
  .home-team .slider__item {
    padding: 50px 0 20px; }
  .home-team .slider__item__thumb {
    margin: 0 auto 80px; }
  .home-team .slider__item__meta {
    text-align: center; }
  .home-number .el__item__title {
    font-size: 64px;
    line-height: 70px; }
  .home-partners .el__header__title {
    font-size: 36px;
    line-height: 46px; }
  .home-partners .row-7 > * {
    width: calc(100% / 5); }
  .home-portfolio .row-7 > * {
    width: calc(100% / 5); } }
@media (max-width: 575px) {
  .home-banner {
    min-height: 740px; }
    .home-banner .el__meta {
      padding-top: 120px;
      align-items: start; }
    .home-banner .el__thumb {
      width: 88%;
      top: auto;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; }
    .home-banner .el__title {
      font-size: 36px;
      line-height: 46px; }
  .home-partners {
    padding: 0; }
    .home-partners .row-7 > * {
      width: calc(100% / 2); }
    .home-partners .el__header__title {
      font-size: 28px;
      line-height: 34px; }
    .home-partners .el__item__title {
      font-size: 18px;
      line-height: 22px; }
  .home .home-portfolio .row-7 > * {
    width: calc(100% / 2); }
  .home-team {
    padding: 80px 0 0px; }
    .home-team .el__box {
      padding: 50px 15px 30px;
      border-radius: 0;
      margin-right: var(--bs-gutter-x, -0.75rem);
      margin-left: var(--bs-gutter-x, -0.75rem); }
  .home-functions {
    padding: 80px 0 0; }
    .home-functions .el__item {
      max-width: 270px;
      margin: 0 auto 16px; }
    .home-functions .-icon-user {
      position: absolute;
      top: 8%;
      left: -10%;
      width: 45%;
      height: 16%; }
  .home-news {
    padding: 50px 0 30px; } }

/*# sourceMappingURL=main.css.map */
