.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width:100%;
	padding: 24px 0;
	z-index: 10;
	&.is-active{
		background: rgba(95, 79, 215, .9);
    	backdrop-filter: blur(2px);
	}
	.container{
		max-width: 1800px;
	}
	.logo{
		width: 240px;
		margin-bottom: 0;
		transition: opacity .5s;
		img{
			width: auto;
			max-height: 50px;
		}
	}
	.main__nav{
		flex-grow: 1;
		text-align: center;
	}
	&__right{
		width: 240px;
		text-align: right;
	}
	@media (max-width: 1199px){
		padding: 20px 0;
	}
	@media (max-width: 1099px){
		.logo {
		    width: auto;
		}
		.main__nav {
		    text-align: right;
		}
		&__right {
		    width: auto;
		}
	}
	@media (max-width: 991px){
		padding: 16px 0;
		&__right{
			display: none;
		}
		.logo {
		    flex-grow: 1;
		    img{
		    	max-height: 25px;
		    }
		}
	}
	@media (max-width: 575px){

	}
}
@keyframes stuckMoveDown{
    0%{transform:translateY(-100%)}
    100%{transform:translateY(0)}
}